{% set list_url = path('os2forms_sync.webform.index') %}

<section class="os2forms-sync-webform-import">
  <h1>{{ 'Import webform?'|t }}</h1>

  {% if webform %}
    <div class="os2forms-sync-webform">
      <h2>{{ webform.attributes.title|raw }}</h2>
      <div class="description">
        {{ webform.attributes.description|raw }}
      </div>
      <div class="category">
        {{ webform.attributes.category }}
      </div>

      <details>
        <summary>{{ 'Elements'|t }}</summary>

        <pre>{{ webform.attributes.elements|yaml_encode }}</pre>
      </details>

      <div class="source">
        <a href="{{ webform.links.self }}">{{ webform.links.self }}</a>
      </div>

      <form method="post">
        <button type="submit" class="button" formaction="{{ path('os2forms_sync.webform.import', {url: webform.links.self}) }}">{{ 'Import webform'|t }}</button>
        <a class="button" href="{{ list_url }}">{{ 'Cancel'|t }}</a>
      </form>
    </div>
  {% else %}
    <div class="alert alert-warning">{{ 'No webform found on <a href=":url">:url</a>.'|t({':url': url}) }}</div>
    <a class="button" href="{{ list_url }}">{{ 'Back to available webform list'|t }}</a>
  {% endif %}
</section>
